.App {
  text-align: center;
  padding: 20px;
  background-color: #1a1b2e;
  color: #ffffff;
  height: 92vh;
}

.timer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

@media (max-width: 768px) {
  .timer-container {
    flex-direction: column;
    align-items: center;
  }
}